**(df) from a two-dimensional list (lst)**

In [ ]:
import pandas as pd

lst = [['Geek', 25], ['is', 30],
       ['for', 26], ['Geeksforgeeks', 22]]

df = pd.DataFrame(lst, columns=['name', 'number'])
print(df)

            name  number
0           Geek      25
1             is      30
2            for      26
3  Geeksforgeeks      22

**Dataframe from 2D List using pd.DataFrame.from_records()**

In [ ]:
import pandas as pd

lst= [['Geek1', 28, 'Analyst'],
        ['Geek2', 35, 'Manager'],
        ['Geek3', 29, 'Developer']]

df = pd.DataFrame(lst, columns = ['name', 'Age', 'Occupation'])

print(df)

    name  Age Occupation
0  Geek1   28    Analyst
1  Geek2   35    Manager
2  Geek3   29  Developer

**Dataframe from 2D List using pd.DataFrame.from_dict()**

In [ ]:
import pandas as pd

lst= [['Geek1', 26, 'Scientist'],
        ['Geek2', 31, 'Researcher'],
        ['Geek3', 24, 'Engineer']]

df = pd.DataFrame.from_dict(dict(zip(['Name', 'Age', 'Professional'], zip(*lst))))

print(df)

    Name  Age Professional
0  Geek1   26    Scientist
1  Geek2   31   Researcher
2  Geek3   24     Engineer

**Dataframe from 2D List using Specifying Data Types**

In [ ]:
import pandas as pd

lst = [['Geek1', 'Reacher', 25],
        ['Geek2', 'Pete', 30],
        ['Geek3', 'Wilson', 26],
        ['Geek4', 'Williams', 22]]

for item in lst:
    item[2] = float(item[2])

columns = ['Fname', 'Lname', 'Age']

df=pd.DataFrame(lst, columns = columns)

print(df)

   Fname     Lname   Age
0  Geek1   Reacher  25.0
1  Geek2      Pete  30.0
2  Geek3    Wilson  26.0
3  Geek4  Williams  22.0

**create Dataframe from List**

In [ ]:
import pandas as pd

data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]}

df = pd.DataFrame(data)

print(df)

  Category  Marks
0    Array     20
1    Stack     21
2    Queue     19

**Transpose the data**

In [ ]:
import pandas as pd

data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]}

df = pd.DataFrame(data)

print(df.transpose())

              0      1      2
Category  Array  Stack  Queue
Marks        20     21     19

**Index the data**

In [ ]:
import pandas as pd

data = {'Category':['Array', 'Stack', 'Queue'],
        'Marks':[20, 21, 19]}

df = pd.DataFrame(data, index = ['cat0', 'cat1', 'cat2'])

print(df)

     Category  Marks
cat0    Array     20
cat1    Stack     21
cat2    Queue     19

**Replacing None with NaN for missing values**

In [ ]:
import pandas as pd
import numpy as np

data = [['Geek1', 28, 'Engineer'],
        ['Geek2', None, 'Data Scientist'],
        ['Geek3', 32, None]]

columns = ['Name', 'Age', 'Occupation']

df= pd.DataFrame(data, columns =columns)

df = df.replace({None:np.nan})

print(df)

    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2   NaN  Data Scientist
2  Geek3  32.0             NaN

** The ‘Age’ values, initially a mix of numbers and strings, are corrected to numeric format. converting the ‘Age’ column to numeric format and handling errors, with the result printed.**

In [ ]:
import pandas as pd


data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', '32', 'Manager']]

columns = ['Name', 'Age', 'Occupation']
df= pd.DataFrame(data, columns =columns)

df['Age'] = pd.to_numeric(df['Age'], errors = 'coerce')
print(df)

    Name  Age      Occupation
0  Geek1   28        Engineer
1  Geek2   25  Data Scientist
2  Geek3   32         Manager

**Defining column names using Dataframe.columns()**

In [ ]:
import pandas as pd

data = [[1, 5, 10], [2, 6, 9], [3, 7, 8]]

df = pd.DataFrame(data)

df.columns = ['col1', 'col2', 'col3']

print(df)

   col1  col2  col3
0     1     5    10
1     2     6     9
2     3     7     8

In [ ]:
print(df.transpose())

       0  1  2
col1   1  2  3
col2   5  6  7
col3  10  9  8

**data in the form of list of tuples**

In [ ]:
import pandas as pd

data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]

columns= ['name', 'Age', 'Score']

df = pd.DataFrame(data, columns= columns , index=['col1', 'col2','col3','col4','col5'])

print(df)

        name  Age  Score
col1   Peter   18      7
col2    Riff   15      6
col3    John   17      8
col4  Michel   18      7
col5   Sheli   17      5

In [ ]:
df = pd.DataFrame(data, columns= columns)
print(df)

     name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

**df.from_records() to create the dataframe from the list of tuples**

In [ ]:
import pandas as pd

data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]

columns= ['name', 'Age', 'Score']

df = pd.DataFrame.from_records(data, columns= columns , index=['col1', 'col2','col3','col4','col5'])

print(df)

        name  Age  Score
col1   Peter   18      7
col2    Riff   15      6
col3    John   17      8
col4  Michel   18      7
col5   Sheli   17      5

**list of tuples using the df.pivot() **

In [ ]:
import pandas as pd

data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]

columns= ['name', 'Age', 'Score']

df = pd.DataFrame(data, columns= columns)

df= pd.pivot(df, index='name', columns='Score', values='Age')
print(df)

Score      5     6     7     8
name
John     NaN   NaN   NaN  17.0
Michel   NaN   NaN  18.0   NaN
Peter    NaN   NaN  18.0   NaN
Riff     NaN  15.0   NaN   NaN
Sheli   17.0   NaN   NaN   NaN

**DataFrame from List of Dictionaries Using from_records()**

In [ ]:
import pandas as pd

data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]

df=pd.DataFrame(data, index=['col1', 'col2'])
print(df)

          Geeks    For geeks
col1  dataframe  using  list
col2         10     20    30

**Dictionaries to a Pandas DataFrame Using pd.DataFrame.from_dict()**

In [ ]:
import pandas as pd

data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]


df=pd.DataFrame.from_dict(data)
print(df)

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

**DataFrame from List of Dictionaries Using pd.json_normalize**

In [ ]:
import pandas as pd

data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
        {'Geeks':10, 'For': 20, 'geeks': 30}]


df=pd.json_normalize(data)
print(df)

       Geeks    For geeks
0  dataframe  using  list
1         10     20    30

**DIct: If there are no matching values and columns in the dictionary, then the NaN value will be inserted into the resulting Dataframe.**

In [ ]:
import pandas as pd

data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list', 'Portal': 10000},
        {'Geeks':10, 'For': 20, 'geeks': 30}]


df=pd.DataFrame(data)
print(df)

       Geeks    For geeks   Portal
0  dataframe  using  list  10000.0
1         10     20    30      NaN

**user-defined values for both index and columns!!!!!!!!!!!!**

In [ ]:
import pandas as pd

# Initialise data to lists.
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'},
		{'Geeks': 10, 'For': 20, 'geeks': 30}]

# With two column indices, values same
# as dictionary keys
df1 = pd.DataFrame(data, index=['ind1', 'ind2'],
				columns=['Geeks', 'For'])

# With two column indices with
# one index with other name
df2 = pd.DataFrame(data, index=['indx', 'indy'])

# print for first data frame
print(df1, "\n")

# Print for second DataFrame.
print(df2)

**DataFrame Using orient=’index’**
'index', it tells Pandas to use the dictionary keys as the index (or row labels) of the DataFrame. In other words, each key in the dictionary becomes a row label in the resulting DataFrame.

In [ ]:
import pandas as pd

countries = {
    "1": {"Country": "New Country 1",
          "Capital": "New Capital 1",
          "Population": "123,456,789"},
    "2": {"Country": "New Country 2",
          "Capital": "New Capital 2",
          "Population": "987,654,321"},
    "3": {"Country": "New Country 3",
          "Capital": "New Capital 3",
          "Population": "111,222,333"}
}

df=pd.DataFrame.from_dict(countries, orient='index')
print(df)

         Country        Capital   Population
1  New Country 1  New Capital 1  123,456,789
2  New Country 2  New Capital 2  987,654,321
3  New Country 3  New Capital 3  111,222,333

**DataFrame using Native Method!!!!!!!!!!!!!!!**

In [ ]:
# importing pandas
import pandas as pd

# List of list of dictionary initialization
list = [
	{
		"Student": [{"Exam": 90, "Grade": "a"},
					{"Exam": 99, "Grade": "b"},
					{"Exam": 97, "Grade": "c"},
					],
		"Name": "Paras Jain"
	},
	{
		"Student": [{"Exam": 89, "Grade": "a"},
					{"Exam": 80, "Grade": "b"}
					],
		"Name": "Chunky Pandey"
	}
]

# rows list initialization
rows = []

# appending rows
for data in list:
	data_row = data['Student']
	time = data['Name']

	for row in data_row:
		row['Name'] = time
		rows.append(row)

# using data frame
df = pd.DataFrame(rows)

# using pivot_table
df = df.pivot_table(index='Name', columns=['Grade'],
					values=['Exam']).reset_index()

# Defining columns
df.columns = ['Name', 'Maths', 'Physics', 'Chemistry']

# print dataframe
print(df)

To Find random sample from dataset: df.sample()
To access coulmns directly: df.columns
To get index value: df.index
verbose: to get quicker summary

**DataFrame using dictionary**

In [ ]:
import pandas as pd

# Create a dataFrame using dictionary
df=pd.DataFrame({"Name":['Tom','Nick','John','Peter'],
                "Age":[15,26,17,28]})

# Creates a dataFrame with
# 2 columns and 4 rows
print(df)

    Name  Age
0    Tom   15
1   Nick   26
2   John   17
3  Peter   28

In [ ]:
df.columns=['NAME', 'AGE']
df.index = ['entry1', 'entry2', 'entry3', 'entry4']
print(df)

         NAME  AGE
entry1    Tom   15
entry2   Nick   26
entry3   John   17
entry4  Peter   28

**rename()**

In [ ]:
df=df.rename({"NAME":"col1", "AGE":"col2"}, axis= 'columns')
print(df)

         col1  col2
entry1    Tom    15
entry2   Nick    26
entry3   John    17
entry4  Peter    28

**Lambda function**

In [ ]:
df = df.rename(columns=lambda x: x + 'X')
print(df)

        col1X  col2X
entry1    Tom     15
entry2   Nick     26
entry3   John     17
entry4  Peter     28

**columns selection**

In [ ]:
df.columns.values[1] = 'col1'
print(df)

        col1X  col1
entry1    Tom    15
entry2   Nick    26
entry3   John    17
entry4  Peter    28

**columns and index together**

In [ ]:
import pandas as pd

# Create a dataFrame using dictionary
df=pd.DataFrame({"Name":['Tom','Nick','John','Peter'],
                "Age":[15,26,17,28]})

df = df.rename(index= lambda x: x + 10,
               columns=lambda x: x + 'X')
print(df)

    NameX  AgeX
10    Tom    15
11   Nick    26
12   John    17
13  Peter    28

**create index without removing original index**

In [ ]:
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

index = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data, index)

df.reset_index(inplace= True)

print(df)

  index    Name  Age    Address Qualification
0     a     Jai   27      Delhi           Msc
1     b  Princi   24     Kanpur            MA
2     c  Gaurav   22  Allahabad           MCA
3     d    Anuj   32    Kannauj           Phd
4     e   Geeku   15      Noida          10th

In [ ]:
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'],
        'Age':[27, 24, 22, 32, 15],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th'] }

index = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data, index)

df.reset_index(inplace= True, drop = True)

print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
4   Geeku   15      Noida          10th

**removing default index and making column as index**

In [ ]:
index = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data, index)

df.set_index(['Age'], inplace = True)

print(df)

       Name    Address Qualification
Age
27      Jai      Delhi           Msc
24   Princi     Kanpur            MA
22   Gaurav  Allahabad           MCA
32     Anuj    Kannauj           Phd
15    Geeku      Noida          10th

**keeping default index and making column as index**

In [ ]:
index = ['a', 'b', 'c', 'd', 'e']
df = pd.DataFrame(data, index)

df.set_index(['Age'], inplace = True)

df.reset_index(inplace= True)

print(df)

   Age    Name    Address Qualification
0   27     Jai      Delhi           Msc
1   24  Princi     Kanpur            MA
2   22  Gaurav  Allahabad           MCA
3   32    Anuj    Kannauj           Phd
4   15   Geeku      Noida          10th

In [ ]:
# import pandas module
import pandas as pd

# making dataframe
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

# it was print the first 5-rows
print(df.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [ ]:
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

stacked_df=df.stack()

print(stacked_df.head(25))

0  Name         Avery Bradley
   Team        Boston Celtics
   Number                 0.0
   Position                PG
   Age                   25.0
   Height                 6-2
   Weight               180.0
   College              Texas
   Salary           7730337.0
1  Name           Jae Crowder
   Team        Boston Celtics
   Number                99.0
   Position                SF
   Age                   25.0
   Height                 6-6
   Weight               235.0
   College          Marquette
   Salary           6796117.0
2  Name          John Holland
   Team        Boston Celtics
   Number                30.0
   Position                SG
   Age                   27.0
   Height                 6-5
   Weight               205.0
dtype: object

In [ ]:


stacked_df=stacked_df.unstack()

print(stacked_df.head(25))

                       Name            Team Number Position   Age Height  \
0             Avery Bradley  Boston Celtics    0.0       PG  25.0    6-2
1               Jae Crowder  Boston Celtics   99.0       SF  25.0    6-6
2              John Holland  Boston Celtics   30.0       SG  27.0    6-5
3               R.J. Hunter  Boston Celtics   28.0       SG  22.0    6-5
4             Jonas Jerebko  Boston Celtics    8.0       PF  29.0   6-10
5              Amir Johnson  Boston Celtics   90.0       PF  29.0    6-9
6             Jordan Mickey  Boston Celtics   55.0       PF  21.0    6-8
7              Kelly Olynyk  Boston Celtics   41.0        C  25.0    7-0
8              Terry Rozier  Boston Celtics   12.0       PG  22.0    6-2
9              Marcus Smart  Boston Celtics   36.0       PG  22.0    6-4
10          Jared Sullinger  Boston Celtics    7.0        C  24.0    6-9
11            Isaiah Thomas  Boston Celtics    4.0       PG  27.0    5-9
12              Evan Turner  Boston Celtics   11.0       SG  27.0    6-7
13              James Young  Boston Celtics   13.0       SG  20.0    6-6
14             Tyler Zeller  Boston Celtics   44.0        C  26.0    7-0
15         Bojan Bogdanovic   Brooklyn Nets   44.0       SG  27.0    6-8
16             Markel Brown   Brooklyn Nets   22.0       SG  24.0    6-3
17          Wayne Ellington   Brooklyn Nets   21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson   Brooklyn Nets   24.0       SG  21.0    6-7
19             Jarrett Jack   Brooklyn Nets    2.0       PG  32.0    6-3
20           Sergey Karasev   Brooklyn Nets   10.0       SG  22.0    6-7
21          Sean Kilpatrick   Brooklyn Nets    6.0       SG  26.0    6-4
22             Shane Larkin   Brooklyn Nets    0.0       PG  23.0   5-11
23              Brook Lopez   Brooklyn Nets   11.0        C  28.0    7-0
24         Chris McCullough   Brooklyn Nets    1.0       PF  21.0   6-11

   Weight            College      Salary
0   180.0              Texas   7730337.0
1   235.0          Marquette   6796117.0
2   205.0  Boston University         NaN
3   185.0      Georgia State   1148640.0
4   231.0                NaN   5000000.0
5   240.0                NaN  12000000.0
6   235.0                LSU   1170960.0
7   238.0            Gonzaga   2165160.0
8   190.0         Louisville   1824360.0
9   220.0     Oklahoma State   3431040.0
10  260.0         Ohio State   2569260.0
11  185.0         Washington   6912869.0
12  220.0         Ohio State   3425510.0
13  215.0           Kentucky   1749840.0
14  253.0     North Carolina   2616975.0
15  216.0                NaN   3425510.0
16  190.0     Oklahoma State    845059.0
17  200.0     North Carolina   1500000.0
18  220.0            Arizona   1335480.0
19  200.0       Georgia Tech   6300000.0
20  208.0                NaN   1599840.0
21  219.0         Cincinnati    134215.0
22  175.0         Miami (FL)   1500000.0
23  275.0           Stanford  19689000.0
24  200.0           Syracuse   1140240.0

In [ ]:
df_melt = df.melt(id_vars=['Name', 'Team'])
print(df_melt.head(10))

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number   0.0
1    Jae Crowder  Boston Celtics   Number  99.0
2   John Holland  Boston Celtics   Number  30.0
3    R.J. Hunter  Boston Celtics   Number  28.0
4  Jonas Jerebko  Boston Celtics   Number   8.0
5   Amir Johnson  Boston Celtics   Number  90.0
6  Jordan Mickey  Boston Celtics   Number  55.0
7   Kelly Olynyk  Boston Celtics   Number  41.0
8   Terry Rozier  Boston Celtics   Number  12.0
9   Marcus Smart  Boston Celtics   Number  36.0

**map new data**

In [ ]:
import pandas as pd

initial_data = {'First_name': ['Ram', 'Mohan', 'Tina', 'Jeetu', 'Meera'],
        'Last_name': ['Kumar', 'Sharma', 'Ali', 'Gandhi', 'Kumari'],
        'Age': [42, 52, 36, 21, 23],
        'City': ['Mumbai', 'Noida', 'Pune', 'Delhi', 'Bihar']}

df = pd.DataFrame(initial_data, columns = ['First_name', 'Last_name',
                                                    'Age', 'City'])

new_data = { "Ram":"B.Com",
            "Mohan":"IAS",
            "Tina":"LLB",
            "Jeetu":"B.Tech",
            "Meera":"MBBS" }

df['Occupation']= df["First_name"].map(new_data)

print(df)

  First_name Last_name  Age    City Occupation
0        Ram     Kumar   42  Mumbai      B.Com
1      Mohan    Sharma   52   Noida        IAS
2       Tina       Ali   36    Pune        LLB
3      Jeetu    Gandhi   21   Delhi     B.Tech
4      Meera    Kumari   23   Bihar       MBBS

**replace**

In [ ]:
new_data = { "Ram":"Shyam",
            "Tina":"Riya",
            "Jeetu":"Jitender" }


df= df.replace({"First_name": new_data})

print(df)

  First_name Last_name  Age    City Occupation
0      Shyam     Kumar   42  Mumbai      B.Com
1      Mohan    Sharma   52   Noida        IAS
2       Riya       Ali   36    Pune        LLB
3   Jitender    Gandhi   21   Delhi     B.Tech
4      Meera    Kumari   23   Bihar       MBBS

**replace with index number**

In [ ]:
import pandas as pd

initial_data = {'First_name': ['Ram', 'Mohan', 'Tina', 'Jeetu', 'Meera'],
                'Last_name': ['Kumar', 'Sharma', 'Ali', 'Gandhi', 'Kumari'],
                'Age': [42, 52, 36, 21, 23],
                'City': ['Mumbai', 'Noida', 'Pune', 'Delhi', 'Bihar']}

df = pd.DataFrame(initial_data, columns = ['First_name', 'Last_name',
                                                    'Age', 'City'])

new_data = { 0:"Shyam",
            2:"Riya",
            4:"Jitender" }


df["First_name"].update(pd.Series(new_data))

print(df)

  First_name Last_name  Age    City
0      Shyam     Kumar   42  Mumbai
1      Mohan    Sharma   52   Noida
2       Riya       Ali   36    Pune
3      Jeetu    Gandhi   21   Delhi
4   Jitender    Kumari   23   Bihar

In [ ]:
import pandas as pd
import numpy as np

column=['a','b','c','d','e']
index=['A','B','C','D','E']

# create a dataframe of random values of array
df1 = pd.DataFrame(np.random.rand(5,5),
            columns=column, index=index)


print(df1)

          a         b         c         d         e
A  0.585038  0.131908  0.527683  0.972217  0.981997
B  0.590693  0.791236  0.246258  0.826825  0.242222
C  0.607552  0.277408  0.815818  0.923012  0.433337
D  0.901009  0.115471  0.167264  0.649526  0.992152
E  0.611408  0.146960  0.727418  0.080665  0.226662

In [ ]:
print( df1.reindex(['B', 'E', 'C', 'A', 'D']))

          a         b         c         d         e
B  0.590693  0.791236  0.246258  0.826825  0.242222
E  0.611408  0.146960  0.727418  0.080665  0.226662
C  0.607552  0.277408  0.815818  0.923012  0.433337
A  0.585038  0.131908  0.527683  0.972217  0.981997
D  0.901009  0.115471  0.167264  0.649526  0.992152

**reindex coloumns**

In [ ]:
new_columns=['e','a','b','c','d']

# create the new index for columns
print(df1.reindex(new_columns, axis='columns'))

          e         a         b         c         d
A  0.981997  0.585038  0.131908  0.527683  0.972217
B  0.242222  0.590693  0.791236  0.246258  0.826825
C  0.433337  0.607552  0.277408  0.815818  0.923012
D  0.992152  0.901009  0.115471  0.167264  0.649526
E  0.226662  0.611408  0.146960  0.727418  0.080665

In [ ]:
new_columns=['e','a','b','g','h']

# create the new index for columns
print(df1.reindex(new_columns, axis='columns'))

          e         a         b   g   h
A  0.981997  0.585038  0.131908 NaN NaN
B  0.242222  0.590693  0.791236 NaN NaN
C  0.433337  0.607552  0.277408 NaN NaN
D  0.992152  0.901009  0.115471 NaN NaN
E  0.226662  0.611408  0.146960 NaN NaN

**replace NAN with value**

In [ ]:
print(df1.reindex(new_columns, axis='columns', fill_value= 2.5))

          e         a         b    g    h
A  0.981997  0.585038  0.131908  2.5  2.5
B  0.242222  0.590693  0.791236  2.5  2.5
C  0.433337  0.607552  0.277408  2.5  2.5
D  0.992152  0.901009  0.115471  2.5  2.5
E  0.226662  0.611408  0.146960  2.5  2.5

In [ ]:
print(df1.reindex(new_columns, axis='columns', fill_value= "empty"))

          e         a         b      g      h
A  0.981997  0.585038  0.131908  empty  empty
B  0.242222  0.590693  0.791236  empty  empty
C  0.433337  0.607552  0.277408  empty  empty
D  0.992152  0.901009  0.115471  empty  empty
E  0.226662  0.611408  0.146960  empty  empty

**Capitalized first letter and lower class rest letters**

In [ ]:
import pandas as pd

# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011'],
                   'Product':[' UMbreLla', '  maTtress', 'BaDmintoN ', 'Shuttle'],
                   'Updated_Price':[1250, 1450, 1550, 400],
                   'Discount':[10, 8, 15, 10]})

df['Product'] = df['Product'].apply(lambda x: x.strip().capitalize())

print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011   Mattress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

In [ ]:
df['Product'] = df['Product'].apply(lambda x: x.strip().title())

print(df)

        Date    Product  Updated_Price  Discount
0  10/2/2011   Umbrella           1250        10
1  11/2/2011   Mattress           1450         8
2  12/2/2011  Badminton           1550        15
3  13/2/2011    Shuttle            400        10

**string using stringIO**

In [ ]:

# importing pandas as pd
import pandas as pd

# import the StrinIO function
# from io module
from io import StringIO

# wrap the string data in StringIO function
StringData = StringIO("""Date;Event;Cost
    10/2/2011;Music;10000
    11/2/2011;Poetry;12000
    12/2/2011;Theatre;5000
    13/2/2011;Comedy;8000
    """)

df= pd.read_csv(StringData, sep=";")
print(df)

            Date    Event   Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

In [ ]:
# importing pandas as pd
import pandas as pd

# This is our string data
StringData ="""Date;Event;Cost
	10/2/2011;Music;10000
	11/2/2011;Poetry;12000
	12/2/2011;Theatre;5000
	13/2/2011;Comedy;8000
	"""

# Read data
df = pd.read_clipboard(sep = ';')

# Print the DataFrame
print(df)

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/#not-implemented-error

**dataframe from series**

In [ ]:
import pandas as pd

# Creating a list
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']

print(pd.Series(author))

0    Jitender
1     Purnima
2       Arpit
3       Jyoti
dtype: object

In [ ]:
type(pd.Series(author))

pandas.core.series.Series

In [ ]:
import pandas as pd

# Creating two lists
author = ['Jitender', 'Purnima',
          'Arpit', 'Jyoti']
article = [210, 211, 114, 178]

# Creating two Series by passing lists
auth_series = pd.Series(author)
article_series = pd.Series(article)

Author = pd.Series(author)
Article = pd.Series(article)

Frame = {'author': Author, 'article': Article}

print(pd.DataFrame(Frame))

     author  article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [ ]:
import pandas as pd
# Creating Series
auth_series = pd.Series(['Jitender',
          'Purnima', 'Arpit', 'Jyoti'])
article_series = pd.Series([210, 211, 114, 178])
# Creating Dictionary
frame = {'Author': auth_series,
         'Article': article_series}
# Creating Dataframe
result = pd.DataFrame(frame)

print(result)

     Author  Article
0  Jitender      210
1   Purnima      211
2     Arpit      114
3     Jyoti      178

In [ ]:
Age = [16, 13, 12, 11]

result['Age']= pd.Series(Age)

print(result)

     Author  Article  Age
0  Jitender      210   16
1   Purnima      211   13
2     Arpit      114   12
3     Jyoti      178   11

In [ ]:

# importing pandas as pd
import pandas as pd

# Let's create a Dataframe
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
                    'Cost':[10000, 5000, 15000, 2000, 12000]})

# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
          pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]

# Set the index
df.index = index_

# Let's print the dataframe
print(df)

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [ ]:
df_updated = df.replace(to_replace ='[nN]ew ', value = 'New_', regex = True)

df_updated['City'] = df_updated['City'].str.strip()

# Print the updated dataframe
print(df_updated)

                City        Event   Cost
2018-02     New_York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New_Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  New_Orleans  Tech_Summit  12000

**pandas with numpy**

In [ ]:
# import pandas and numpy
import pandas as pd
import numpy as np

df = pd.Series(np.repeat(0.8, 7))

print(df)

0    0.8
1    0.8
2    0.8
3    0.8
4    0.8
5    0.8
6    0.8
dtype: float64

In [ ]:
df = pd.Series(np.random.rand(10))

print(df)

0    0.877572
1    0.083602
2    0.217084
3    0.603799
4    0.179677
5    0.339313
6    0.240862
7    0.799853
8    0.517009
9    0.771952
dtype: float64

In [ ]:
df = pd.Series(np.random.normal(0.0, 1.0,5))

print(df)

0   -0.046851
1   -1.150340
2    0.698565
3    1.741182
4    1.109001
dtype: float64

**DATETIME**

In [ ]:
import pandas as pd
from datetime import datetime
import numpy as np

date_range = pd.date_range(start='01/01/2024', end='30/04/2024', freq='Min')
print(date_range)

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 00:01:00',
               '2024-01-01 00:02:00', '2024-01-01 00:03:00',
               '2024-01-01 00:04:00', '2024-01-01 00:05:00',
               '2024-01-01 00:06:00', '2024-01-01 00:07:00',
               '2024-01-01 00:08:00', '2024-01-01 00:09:00',
               ...
               '2024-04-29 23:51:00', '2024-04-29 23:52:00',
               '2024-04-29 23:53:00', '2024-04-29 23:54:00',
               '2024-04-29 23:55:00', '2024-04-29 23:56:00',
               '2024-04-29 23:57:00', '2024-04-29 23:58:00',
               '2024-04-29 23:59:00', '2024-04-30 00:00:00'],
              dtype='datetime64[ns]', length=172801, freq='T')

In [ ]:
date_range = pd.date_range(start='01/01/2024', end='30/04/2024', freq='S')
print(date_range)

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 00:00:01',
               '2024-01-01 00:00:02', '2024-01-01 00:00:03',
               '2024-01-01 00:00:04', '2024-01-01 00:00:05',
               '2024-01-01 00:00:06', '2024-01-01 00:00:07',
               '2024-01-01 00:00:08', '2024-01-01 00:00:09',
               ...
               '2024-04-29 23:59:51', '2024-04-29 23:59:52',
               '2024-04-29 23:59:53', '2024-04-29 23:59:54',
               '2024-04-29 23:59:55', '2024-04-29 23:59:56',
               '2024-04-29 23:59:57', '2024-04-29 23:59:58',
               '2024-04-29 23:59:59', '2024-04-30 00:00:00'],
              dtype='datetime64[ns]', length=10368001, freq='S')

In [ ]:
date_range = pd.date_range(start='01/01/2024', end='30/04/2024', freq='S')
df=pd.DataFrame(date_range, columns=['Date'])

df['data'] = np.random.randint(0, 100, size =(len(date_range)))

print(df.head(10))

                 Date  data
0 2024-01-01 00:00:00    12
1 2024-01-01 00:00:01    41
2 2024-01-01 00:00:02    57
3 2024-01-01 00:00:03    34
4 2024-01-01 00:00:04     6
5 2024-01-01 00:00:05    82
6 2024-01-01 00:00:06    80
7 2024-01-01 00:00:07    80
8 2024-01-01 00:00:08    22
9 2024-01-01 00:00:09    43

In [ ]:
len(date_range)

10368001

**Convert to string**

In [ ]:
date_range = pd.date_range(start='01/01/2024', end='30/04/2024', freq='S')

Convert_to_string = [str(x) for x in date_range ]

print(Convert_to_string[1:11])

['2024-01-01 00:00:01', '2024-01-01 00:00:02', '2024-01-01 00:00:03', '2024-01-01 00:00:04', '2024-01-01 00:00:05', '2024-01-01 00:00:06', '2024-01-01 00:00:07', '2024-01-01 00:00:08', '2024-01-01 00:00:09', '2024-01-01 00:00:10']

In [ ]:
# importing pandas module
import pandas as pd

# making data frame
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

print(df['Name'].iloc[[0, 3, 6]])

0    Avery Bradley
3      R.J. Hunter
6    Jordan Mickey
Name: Name, dtype: object

In [ ]:
print(df['Name'].iloc[:5])

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [ ]:
print(df['Name'].iloc[10:])

10     Jared Sullinger
11       Isaiah Thomas
12         Evan Turner
13         James Young
14        Tyler Zeller
            ...
453       Shelvin Mack
454          Raul Neto
455       Tibor Pleiss
456        Jeff Withey
457                NaN
Name: Name, Length: 448, dtype: object

In [ ]:
print(df['Name'].iloc[-10:])

448    Gordon Hayward
449       Rodney Hood
450        Joe Ingles
451     Chris Johnson
452        Trey Lyles
453      Shelvin Mack
454         Raul Neto
455      Tibor Pleiss
456       Jeff Withey
457               NaN
Name: Name, dtype: object

In [ ]:
df= pd.Series(np.arange(3,15), index=list("abcdefghijkl"))
print(df)

a     3
b     4
c     5
d     6
e     7
f     8
g     9
h    10
i    11
j    12
k    13
l    14
dtype: int64

In [ ]:
df = pd.Series(np.arange(3, 15), index = list("abcdefghijkl"))


print(df[['a', 'd', 'g', 'l']] )

a     3
d     6
g     9
l    14
dtype: int64

In [ ]:
list = [ ['Geeks'], ['For'], ['Geeks'], ['is'],
         ['a'], ['portal'], ['for'], ['geeks'] ]

# create Pandas Series
df = pd.Series((i[0] for i in list))

print(df)

0     Geeks
1       For
2     Geeks
3        is
4         a
5    portal
6       for
7     geeks
dtype: object

In [ ]:

# import the pandas lib as pd
import pandas as pd

# create a dictionary
dictionary = {'A': 10, 'B': 20, 'C': 30}

print(pd.Series(dictionary))

A    10
B    20
C    30
dtype: int64

In [ ]:
print(pd.Series(dictionary, index= ['B', 'C', 'A']))

B    20
C    30
A    10
dtype: int64

In [ ]:
print(pd.Series(dictionary, index= ['B', 'C', 'A', 'D']))

B    20.0
C    30.0
A    10.0
D     NaN
dtype: float64

In [ ]:
ser= pd.Series(dictionary)

df=ser.reindex(index= ['B', 'C', 'A', 'D'], fill_value= 1.5)

print(df)

B    20.0
C    30.0
A    10.0
D     1.5
dtype: float64

In [ ]:

# importing pandas as pd
import pandas as pd

# Creating the dataframe
df = pd.DataFrame({'Date':['11/8/2011', '04/23/2008', '10/2/2019'],
                'Event':['Music', 'Poetry', 'Theatre'],
                'Cost':[10000, 5000, 15000]})

print(df)

         Date    Event   Cost
0   11/8/2011    Music  10000
1  04/23/2008   Poetry   5000
2   10/2/2019  Theatre  15000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3 non-null      object
 1   Event   3 non-null      object
 2   Cost    3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

print(df)

        Date    Event   Cost
0 2011-11-08    Music  10000
1 2008-04-23   Poetry   5000
2 2019-10-02  Theatre  15000

In [ ]:
# converting the string to datetime format
df['Date'] = pd.to_datetime(df['Date'], format='%y%m%d')

# printing dataframe
print(df)


print(df.dtypes)

        Date    Event   Cost
0 2011-11-08    Music  10000
1 2008-04-23   Poetry   5000
2 2019-10-02  Theatre  15000
Date     datetime64[ns]
Event            object
Cost              int64
dtype: object

In [ ]:
df['Date']= df['Date'].astype('datetime64[ns]')

print(df)
print(df.dtypes)

        Date    Event   Cost
0 2011-11-08    Music  10000
1 2008-04-23   Poetry   5000
2 2019-10-02  Theatre  15000
Date     datetime64[ns]
Event            object
Cost              int64
dtype: object

In [ ]:

# importing pandas library
import pandas as pd

# Initializing the nested list with Data set
player_list = [['20200712',50000,'20200812'],
               ['20200714',51000,'20200814'],
               ['20200716',51500,'20200816'],
               ['20200719',53000,'20200819'],
               ['20200721',54000,'20200821'],
               ['20200724',55000,'20200824'],
               ['20200729',57000,'20200824']]

# creating a pandas dataframe
df = pd.DataFrame(
  player_list,columns = ['Treatment_start',
                         'No.of Patients',
                         'Treatment_end'])

# printing dataframe
print(df)
print()

# checking the type
print(df.dtypes)

  Treatment_start  No.of Patients Treatment_end
0        20200712           50000      20200812
1        20200714           51000      20200814
2        20200716           51500      20200816
3        20200719           53000      20200819
4        20200721           54000      20200821
5        20200724           55000      20200824
6        20200729           57000      20200824

Treatment_start    object
No.of Patients      int64
Treatment_end      object
dtype: object

In [ ]:
df['Treatment_start'] = pd.to_datetime(df['Treatment_start'], format='%Y%m%d')
df['Treatment_end'] = pd.to_datetime(df['Treatment_end'],format='%Y%m%d')


# printing dataframe
print(df)
print()

print(df.dtypes)

  Treatment_start  No.of Patients Treatment_end
0      2020-07-12           50000    2020-08-12
1      2020-07-14           51000    2020-08-14
2      2020-07-16           51500    2020-08-16
3      2020-07-19           53000    2020-08-19
4      2020-07-21           54000    2020-08-21
5      2020-07-24           55000    2020-08-24
6      2020-07-29           57000    2020-08-24

Treatment_start    datetime64[ns]
No.of Patients              int64
Treatment_end      datetime64[ns]
dtype: object

In [ ]:


# importing pandas as pd
import pandas as pd

# Creating the timestamp
ts=pd.Timestamp('02-06-2018')

# Print the timestamp
print(ts)

2018-02-06 00:00:00

**Sorting()**

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
print(df)

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [ ]:
df.sort_values(by ='col1', inplace=True)
print(df)

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
5    C     4     3    F
4    D     7     2    e
3  NaN     8     4    D

In [ ]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})

df.sort_values(by =['col1', 'col2'], ascending= [False, False], inplace=True)
print(df)

  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

In [ ]:
import pandas as pd
data = np.random.randint(1, 10, size=(5, 3))
df = pd.DataFrame( data,columns = ['A', 'B', 'C'])
print(df)

   A  B  C
0  3  2  9
1  7  4  4
2  5  5  2
3  9  9  8
4  1  6  8

In [ ]:
print(df.A.max())

9

In [ ]:
print(df.A.min())

1

**Find boolean type of data from the dataframe**

In [ ]:
df = pd.DataFrame({'NAME': list('abcdef'),
        'On_Time': [True, False] * 3,
        'On_Budget': [False, True] * 3})
print(df)

  NAME  On_Time  On_Budget
0    a     True      False
1    b    False       True
2    c     True      False
3    d    False       True
4    e     True      False
5    f    False       True

In [ ]:
print(df.select_dtypes(include='boolean'))

   On_Time  On_Budget
0     True      False
1    False       True
2     True      False
3    False       True
4     True      False
5    False       True

**Split string into two columns**

In [ ]:
df = pd.DataFrame({'row': ['00000 UNITED STATES', '01000 ALABAMA',
                           '01001 Autauga County, AL', '01003 Baldwin County, AL',
                           '01005 Barbour County, AL']})
print(df)

                        row
0       00000 UNITED STATES
1             01000 ALABAMA
2  01001 Autauga County, AL
3  01003 Baldwin County, AL
4  01005 Barbour County, AL

In [ ]:
df[['location', 'state_code']] = df['row'].str.split(n=1, expand = True)

df[['state', 'county']] = df['state_code'].str.split(', ', expand=True)

print(df)

                        row location          state_code           state  \
0       00000 UNITED STATES    00000       UNITED STATES   UNITED STATES
1             01000 ALABAMA    01000             ALABAMA         ALABAMA
2  01001 Autauga County, AL    01001  Autauga County, AL  Autauga County
3  01003 Baldwin County, AL    01003  Baldwin County, AL  Baldwin County
4  01005 Barbour County, AL    01005  Barbour County, AL  Barbour County

  county
0   None
1   None
2     AL
3     AL
4     AL

**Randomly select a row**

In [ ]:
import pandas as pd

# Define a dictionary containing employee data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku', 'Geeku'],
        'Age': [27, 24, 22, 32, 15, 15],
        'Address': ['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida', 'Noida'],
        'Qualification': ['Msc', 'MA', 'MCA', 'Phd', '10th', '10th']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
4   Geeku   15      Noida          10th
5   Geeku   15      Noida          10th

In [ ]:
df.sample()

  Name  Age Address Qualification
0  Jai   27   Delhi           Msc

In [ ]:
print(df.sample(n=3))

    Name  Age  Address Qualification
0    Jai   27    Delhi           Msc
3   Anuj   32  Kannauj           Phd
4  Geeku   15    Noida          10th

In [ ]:
print(df.sample(frac=0.5))

    Name  Age Address Qualification
0    Jai   27   Delhi           Msc
4  Geeku   15   Noida          10th

In [ ]:
df1 = df.sample(frac=0.7)
print(df1)

     Name  Age  Address Qualification
1  Princi   24   Kanpur            MA
3    Anuj   32  Kannauj           Phd
0     Jai   27    Delhi           Msc
4   Geeku   15    Noida          10th

In [ ]:
df2 = df1.sample(frac=0.5)
print(df2)

   Name  Age  Address Qualification
3  Anuj   32  Kannauj           Phd
0   Jai   27    Delhi           Msc

In [ ]:
print(df.sample(n=6, replace= False))

     Name  Age    Address Qualification
2  Gaurav   22  Allahabad           MCA

In [ ]:
test_weights = [0.2, 0.2, 0.2, 0.4]

df1.sample(n=3, weights=test_weights)
print(df1)

     Name  Age  Address Qualification
1  Princi   24   Kanpur            MA
3    Anuj   32  Kannauj           Phd
0     Jai   27    Delhi           Msc
4   Geeku   15    Noida          10th

In [ ]:
df1.sample(axis=0)
print(df1)

     Name  Age  Address Qualification
1  Princi   24   Kanpur            MA
3    Anuj   32  Kannauj           Phd
0     Jai   27    Delhi           Msc
4   Geeku   15    Noida          10th

**set column as index**

In [ ]:
import pandas as pd

# Creating a dict of lists
data = {'Name':["Akash", "Geeku", "Pankaj", "Sumitra","Ramlal"],
       'Branch':["B.Tech", "MBA", "BCA", "B.Tech", "BCA"],
       'Score':["80","90","60", "30", "50"],
       'Result': ["Pass","Pass","Pass","Fail","Fail"]}

# Creating a dataframe
df = pd.DataFrame(data)
print(df)

      Name  Branch Score Result
0    Akash  B.Tech    80   Pass
1    Geeku     MBA    90   Pass
2   Pankaj     BCA    60   Pass
3  Sumitra  B.Tech    30   Fail
4   Ramlal     BCA    50   Fail

In [ ]:
print(df.set_index('Name'))

         Branch Score Result
Name
Akash    B.Tech    80   Pass
Geeku       MBA    90   Pass
Pankaj      BCA    60   Pass
Sumitra  B.Tech    30   Fail
Ramlal      BCA    50   Fail

In [ ]:
df.index.name = None

print(df)

         Branch Score Result
Akash    B.Tech    80   Pass
Geeku       MBA    90   Pass
Pankaj      BCA    60   Pass
Sumitra  B.Tech    30   Fail
Ramlal      BCA    50   Fail

In [ ]:
student_details = {'Name':['Raj', 'Raj', 'Raj', 'Aravind', 'Aravind', 'Aravind',
                             'John', 'John', 'John', 'Arjun', 'Arjun', 'Arjun'],
                   'Subject':['Maths', 'Physics', 'Chemistry', 'Maths', 'Physics',
                             'Chemistry', 'Maths', 'Physics', 'Chemistry', 'Maths',
                                                           'Physics', 'Chemistry'],
                   'Marks':[80, 90, 75, 60, 40, 60, 80, 55, 100, 90, 75, 70]
               }

# Convert dictionary to a DataFrame
df = pd.DataFrame(student_details)
print(df)

       Name    Subject  Marks
0       Raj      Maths     80
1       Raj    Physics     90
2       Raj  Chemistry     75
3   Aravind      Maths     60
4   Aravind    Physics     40
5   Aravind  Chemistry     60
6      John      Maths     80
7      John    Physics     55
8      John  Chemistry    100
9     Arjun      Maths     90
10    Arjun    Physics     75
11    Arjun  Chemistry     70

In [ ]:
df = df.set_index('Subject')

print(df)

              Name  Marks
Subject
Maths          Raj     80
Physics        Raj     90
Chemistry      Raj     75
Maths      Aravind     60
Physics    Aravind     40
Chemistry  Aravind     60
Maths         John     80
Physics       John     55
Chemistry     John    100
Maths        Arjun     90
Physics      Arjun     75
Chemistry    Arjun     70

In [ ]:
df.index.name= None

print(df)

              Name  Marks
Maths          Raj     80
Physics        Raj     90
Chemistry      Raj     75
Maths      Aravind     60
Physics    Aravind     40
Chemistry  Aravind     60
Maths         John     80
Physics       John     55
Chemistry     John    100
Maths        Arjun     90
Physics      Arjun     75
Chemistry    Arjun     70

In [ ]:
df['ranking_index']= df['Marks'].rank(ascending=1)
print(df.set_index('ranking_index'))

                  Name    Subject  Marks
ranking_index
8.5                Raj      Maths     80
10.5               Raj    Physics     90
6.5                Raj  Chemistry     75
3.5            Aravind      Maths     60
1.0            Aravind    Physics     40
3.5            Aravind  Chemistry     60
8.5               John      Maths     80
2.0               John    Physics     55
12.0              John  Chemistry    100
10.5             Arjun      Maths     90
6.5              Arjun    Physics     75
5.0              Arjun  Chemistry     70

In [ ]:
df.sort_index()
print(df)

       Name    Subject  Marks  ranking_index
0       Raj      Maths     80            8.5
1       Raj    Physics     90           10.5
2       Raj  Chemistry     75            6.5
3   Aravind      Maths     60            3.5
4   Aravind    Physics     40            1.0
5   Aravind  Chemistry     60            3.5
6      John      Maths     80            8.5
7      John    Physics     55            2.0
8      John  Chemistry    100           12.0
9     Arjun      Maths     90           10.5
10    Arjun    Physics     75            6.5
11    Arjun  Chemistry     70            5.0

In [ ]:
import pandas as pd

# Creating a dict of lists
data = {'name':["Akash", "Geeku", "Pankaj", "Sumitra", "Ramlal"],
       'Branch':["B.Tech", "MBA", "BCA", "B.Tech", "BCA"],
       'Score':["80", "90", "60", "30", "50"],
       'Result': ["Pass", "Pass", "Pass", "Fail", "Fail"]}

df = pd.DataFrame(data)
print(df)

      name  Branch Score Result
0    Akash  B.Tech    80   Pass
1    Geeku     MBA    90   Pass
2   Pankaj     BCA    60   Pass
3  Sumitra  B.Tech    30   Fail
4   Ramlal     BCA    50   Fail

In [ ]:
df= df.pivot(index ='Result', columns ='name')

print(df)

        Branch                             Score
name     Akash Geeku Pankaj Ramlal Sumitra Akash Geeku Pankaj Ramlal Sumitra
Result
Fail       NaN   NaN    NaN    BCA  B.Tech   NaN   NaN    NaN     50      30
Pass    B.Tech   MBA    BCA    NaN     NaN    80    90     60    NaN     NaN

In [ ]:
import pandas as pd

# Creating the dataframe with dict of lists
df = pd.DataFrame({'Name': ['Geeks', 'Peter', 'James', 'Jack', 'Lisa'],
                   'Team': ['Boston', 'Boston', 'Boston', 'Chele', 'Barse'],
                   'Position': ['PG', 'PG', 'UG', 'PG', 'UG'],
                   'Number': [3, 4, 7, 11, 5],
                   'Age': [33, 25, 34, 35, 28],
                   'Height': ['6-2', '6-4', '5-9', '6-1', '5-8'],
                   'Weight': [89, 79, 113, 78, 84],
                   'College': ['MIT', 'MIT', 'MIT', 'Stanford', 'Stanford'],
                   'Salary': [99999, 99994, 89999, 78889, 87779]},
                   index =['ind1', 'ind2', 'ind3', 'ind4', 'ind5'])

print(df)

       Name    Team Position  Number  Age Height  Weight   College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89       MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79       MIT   99994
ind3  James  Boston       UG       7   34    5-9     113       MIT   89999
ind4   Jack   Chele       PG      11   35    6-1      78  Stanford   78889
ind5   Lisa   Barse       UG       5   28    5-8      84  Stanford   87779

**Value Counts**

In [ ]:
df1 = df['Position'].value_counts()
print(df1)

Position
PG    3
UG    2
Name: count, dtype: int64

In [ ]:
df1 = df['Position'].str.contains("PG")
print(df1)

ind1     True
ind2     True
ind3    False
ind4     True
ind5    False
Name: Position, dtype: bool

**by default str.contains is case sensitive. so we want to make it case insensitive.**

In [ ]:
df1 = df[df['Position'].str.contains("PG", case = False)]
print(df1)

       Name    Team Position  Number  Age Height  Weight   College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89       MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79       MIT   99994
ind4   Jack   Chele       PG      11   35    6-1      78  Stanford   78889

In [ ]:
df1 = df[df['Position'].str.contains("PG")]
print(df1)

       Name    Team Position  Number  Age Height  Weight   College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89       MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79       MIT   99994
ind4   Jack   Chele       PG      11   35    6-1      78  Stanford   78889

In [ ]:
df1 = df[df['College'].str.contains("MIT") | df['Team'].str.contains("Boston")]
print(df1)

       Name    Team Position  Number  Age Height  Weight College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89     MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79     MIT   99994
ind3  James  Boston       UG       7   34    5-9     113     MIT   89999

In [ ]:
df1 = df[df['College'].str.contains("MIT") & df['Team'].str.contains("Boston") & df['Position'].str.contains("PG")]
print(df1)

       Name    Team Position  Number  Age Height  Weight College  Salary
ind1  Geeks  Boston       PG       3   33    6-2      89     MIT   99999
ind2  Peter  Boston       PG       4   25    6-4      79     MIT   99994

In [ ]:
df1 = df[df['Position'].str.contains("UG") & df['College'].str.contains("Stanford")]
print(df1)

      Name   Team Position  Number  Age Height  Weight   College  Salary
ind5  Lisa  Barse       UG       5   28    5-8      84  Stanford   87779

**find min and max value**

In [ ]:
import pandas as pd
import numpy as np

# data of 2018 drivers world championship
dict1 = {'Driver': ['Hamilton', 'Vettel', 'Raikkonen',
                    'Verstappen', 'Bottas', 'Ricciardo',
                    'Hulkenberg', 'Perez', 'Magnussen',
                    'Sainz', 'Alonso', 'Ocon', 'Leclerc',
                    'Grosjean', 'Gasly', 'Vandoorne',
                    'Ericsson', 'Stroll', 'Hartley', 'Sirotkin'],

         'Points': [408, 320, 251, 249, 247, 170, 69, 62, 56,
                    53, 50, 49, 39, 37, 29, 12, 9, 6, 4, 1],

         'Age': [33, 31, 39, 21, 29, 29, 31, 28, 26, 24, 37,
                 22, 21, 32, 22, 26, 28, 20, 29, 23]}

# creating dataframe using DataFrame constructor
df = pd.DataFrame(dict1)
print(df)

        Driver  Points  Age
0     Hamilton     408   33
1       Vettel     320   31
2    Raikkonen     251   39
3   Verstappen     249   21
4       Bottas     247   29
5    Ricciardo     170   29
6   Hulkenberg      69   31
7        Perez      62   28
8    Magnussen      56   26
9        Sainz      53   24
10      Alonso      50   37
11        Ocon      49   22
12     Leclerc      39   21
13    Grosjean      37   32
14       Gasly      29   22
15   Vandoorne      12   26
16    Ericsson       9   28
17      Stroll       6   20
18     Hartley       4   29
19    Sirotkin       1   23

In [ ]:
print(df.max())

Driver    Vettel
Points       408
Age           39
dtype: object

In [ ]:
print(df[df.Points==df.Points.max()])

     Driver  Points  Age
0  Hamilton     408   33

In [ ]:
print(df[df.Age==df.Age.max()])

      Driver  Points  Age
2  Raikkonen     251   39

In [ ]:
print(df[df.Points== df.Points.min()])

      Driver  Points  Age
19  Sirotkin       1   23

**Arrange on the basis of ranking**

In [ ]:

import pandas as pd

# Define the dictionary for converting to dataframe
movies = {'Name': ['The Godfather', 'Bird Box', 'Fight Club'],
         'Year': ['1972', '2018', '1999'],
         'Rating': ['9.2', '6.8', '8.8']}

df = pd.DataFrame(movies)
print(df)

            Name  Year Rating
0  The Godfather  1972    9.2
1       Bird Box  2018    6.8
2     Fight Club  1999    8.8

In [ ]:
df['Rating_Rank'] = df['Rating'].rank(ascending = 1)

# Set the index to newly created column, Rating_Rank
df = df.set_index('Rating_Rank')
print(df)

                      Name  Year Rating
Rating_Rank
3.0          The Godfather  1972    9.2
1.0               Bird Box  2018    6.8
2.0             Fight Club  1999    8.8

**Sort Index**

In [ ]:
df = df.sort_index()
print(df)

                      Name  Year Rating
Rating_Rank
1.0               Bird Box  2018    6.8
2.0             Fight Club  1999    8.8
3.0          The Godfather  1972    9.2

In [ ]:
# importing pandas as pd
import pandas as pd

# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/11'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy'],
                    'Cost':[10000, 5000, 15000, 2000]})

# Print the dataframe
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3    13/2/11   Comedy   2000

In [ ]:

import pandas as pd

# create a sample data frame
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'age': [25, 30, 35, 40],
        'gender': ['F', 'M', 'M', 'M']}
df = pd.DataFrame(data)

print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3     Dave   40      M

In [ ]:
df= df[df['age']>=30]

print(df)

      name  age gender
1      Bob   30      M
2  Charlie   35      M
3     Dave   40      M

In [ ]:
df= df.loc[df['age']>=30]

print(df)

      name  age gender
1      Bob   30      M
2  Charlie   35      M
3     Dave   40      M

In [ ]:
condition= df['age']>=30

df = df[~condition]
print(df)

    name  age gender
0  Alice   25      F

**Create dataframe form specific colmn and rows**

In [ ]:


# Import pandas package
import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [ ]:
df = df.iloc[0:2, 1:3]

print(df)

   Age Address
0   27   Delhi
1   24  Kanpur

**Use sort to filter**

In [ ]:

import pandas as pd

# create a sample data frame
data = {'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'age': [25, 30, 35, 40],
        'gender': ['F', 'M', 'M', 'M']}
df = pd.DataFrame(data)

print(df)

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3     Dave   40      M

In [ ]:
df= df[df['name']=='Alice'][['age']]

print(df)

   age
0   25

In [ ]:
df= df[df['name']=='Al'][['age']]

print(df)

Empty DataFrame
Columns: [age]
Index: []

In [ ]:
df= df[df['gender']=='M'][['name', 'age']]

print(df)

      name  age
1      Bob   30
2  Charlie   35
3     Dave   40

In [ ]:
df= df[df['gender'].isin(['M'])][['name', 'age']]

print(df)

      name  age
1      Bob   30
2  Charlie   35
3     Dave   40

**no of rows and coloumn**

In [ ]:
import pandas as pd
import numpy as np

# data of 2018 drivers world championship
dict1 = {'Driver': ['Hamilton', 'Vettel', 'Raikkonen',
                    'Verstappen', 'Bottas', 'Ricciardo',
                    'Hulkenberg', 'Perez', 'Magnussen',
                    'Sainz', 'Alonso', 'Ocon', 'Leclerc',
                    'Grosjean', 'Gasly', 'Vandoorne',
                    'Ericsson', 'Stroll', 'Hartley', 'Sirotkin'],

         'Points': [408, 320, 251, 249, 247, 170, 69, 62, 56,
                    53, 50, 49, 39, 37, 29, 12, 9, 6, 4, 1],

         'Age': [33, 31, 39, 21, 29, 29, 31, 28, 26, 24, 37,
                 22, 21, 32, 22, 26, 28, 20, 29, 23]}

# creating dataframe using DataFrame constructor
df = pd.DataFrame(dict1)
print(df)

        Driver  Points  Age
0     Hamilton     408   33
1       Vettel     320   31
2    Raikkonen     251   39
3   Verstappen     249   21
4       Bottas     247   29
5    Ricciardo     170   29
6   Hulkenberg      69   31
7        Perez      62   28
8    Magnussen      56   26
9        Sainz      53   24
10      Alonso      50   37
11        Ocon      49   22
12     Leclerc      39   21
13    Grosjean      37   32
14       Gasly      29   22
15   Vandoorne      12   26
16    Ericsson       9   28
17      Stroll       6   20
18     Hartley       4   29
19    Sirotkin       1   23

In [ ]:
print(df.dtypes)

Driver    object
Points     int64
Age        int64
dtype: object

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Driver  20 non-null     object
 1   Points  20 non-null     int64
 2   Age     20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 608.0+ bytes
None

In [ ]:
print(df.isnull())

    Driver  Points    Age
0    False   False  False
1    False   False  False
2    False   False  False
3    False   False  False
4    False   False  False
5    False   False  False
6    False   False  False
7    False   False  False
8    False   False  False
9    False   False  False
10   False   False  False
11   False   False  False
12   False   False  False
13   False   False  False
14   False   False  False
15   False   False  False
16   False   False  False
17   False   False  False
18   False   False  False
19   False   False  False

In [ ]:
print(df.isnull().sum())

Driver    0
Points    0
Age       0
dtype: int64

In [ ]:
print(list(df.columns))

['Driver', 'Points', 'Age']

In [ ]:
print(len(list(df.columns)))

3

In [ ]:
print(len(df))

20

**find avg**

In [ ]:
print(df['Points'].mean())

106.05

In [ ]:
print(df[df['Age']==29].count())

Driver    3
Points    3
Age       3
dtype: int64

**find no of days from date**

In [ ]:
# importing pandas as pd
import pandas as pd

# Create the dataframe
df = pd.DataFrame({'Date':['10/2/2011', '11/2/2011', '12/2/2011', '13/2/2011', '11/2/2013', '12/2/2014', '13/2/2015'],
                    'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Poetry', 'Theatre', 'Art'],
                    'Cost':[10000, 5000, 15000, 2000, 5700, 75000, 2800]})

# Print the dataframe
print(df)

        Date    Event   Cost
0  10/2/2011    Music  10000
1  11/2/2011   Poetry   5000
2  12/2/2011  Theatre  15000
3  13/2/2011   Comedy   2000
4  11/2/2013   Poetry   5700
5  12/2/2014  Theatre  75000
6  13/2/2015      Art   2800

In [ ]:
print(df[df['Date'].apply(lambda x:x[5:]=='2011')])

TypeError: 'Timestamp' object is not subscriptable

In [ ]:
import pandas as pd

# Convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Extract year from the 'Date' column
df['year'] = df['Date'].dt.year

# Filter the DataFrame to get records from the year 2011
dates_2011 = df[df['year'] == 2011]['Date']

print(len(dates_2011))

4

In [ ]:

# Import pandas package
import pandas as pd

# making data frame
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

# calling head() method
# storing in new variable
data_top = data.head(10)

print(data_top)

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

**Upper Case of all Letters**

In [ ]:
data['Name'] = data['Name'].str.upper()
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    AVERY BRADLEY  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      JAE CROWDER  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     JOHN HOLLAND  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. HUNTER  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    JONAS JEREBKO  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   SHELVIN MACK       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      RAUL NETO       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   TIBOR PLEISS       Utah Jazz    21.0        C  26.0    7-3   256.0
456    JEFF WITHEY       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [ ]:
data=data.dropna(inplace=True)
print(data)

None

In [ ]:
data['College'] = data['College'].str.upper()
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                TEXAS  7730337.0
1            MARQUETTE  6796117.0
2    BOSTON UNIVERSITY        NaN
3        GEORGIA STATE  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             BUTLER  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             KANSAS   947276.0
457                NaN        NaN

[458 rows x 9 columns]

**Capitalize first letter**

In [ ]:
import pandas as pd


# creating a dataframe
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate',
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})

print(df)

       A         B   C
0   john   masters  27
1  bODAY  graduate  23
2   minA  graduate  21
3  Peter   Masters  23
4  nicky  Graduate  24

In [ ]:
df['A'] =df['A'].str.capitalize()
print(df)

       A         B   C
0   John   masters  27
1  Boday  graduate  23
2   Mina  graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

In [ ]:
df['B'].apply(lambda x: x.capitalize())
print(df)

       A         B   C
0   John   Masters  27
1  Boday  Graduate  23
2   Mina  Graduate  21
3  Peter   Masters  23
4  Nicky  Graduate  24

**Lower case the whole string**

In [ ]:
import pandas as pd


# creating a dataframe
df = pd.DataFrame({'A': ['john', 'bODAY', 'minA', 'Peter', 'nicky'],
                  'B': ['masters', 'graduate', 'graduate',
                                   'Masters', 'Graduate'],
                  'C': [27, 23, 21, 23, 24]})

print(df)

       A         B   C
0   john   masters  27
1  bODAY  graduate  23
2   minA  graduate  21
3  Peter   Masters  23
4  nicky  Graduate  24

In [ ]:
df['A'] =df['A'].str.lower()
print(df)

       A         B   C
0   john   masters  27
1  boday  graduate  23
2   mina  graduate  21
3  peter   Masters  23
4  nicky  Graduate  24

In [ ]:
df['B'] =df['B'].apply(lambda x: x.lower())
print(df)

       A         B   C
0   john   masters  27
1  boday  graduate  23
2   mina  graduate  21
3  peter   masters  23
4  nicky  graduate  24

In [ ]:
import pandas as pd

# create a dictionary with five fields each
data = {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
    'E': ['E1', 'E2', 'E3', 'E4', 'E5']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [ ]:
df.drop(['A'], axis=1)
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [ ]:
df.drop(['A'], axis=1, inplace=True)
print(df)

    B   C   D   E
0  B1  C1  D1  E1
1  B2  C2  D2  E2
2  B3  C3  D3  E3
3  B4  C4  D4  E4
4  B5  C5  D5  E5

In [ ]:
df.drop(['C', 'D'], axis=1, inplace=True)
print(df)

    B   E
0  B1  E1
1  B2  E2
2  B3  E3
3  B4  E4
4  B5  E5

In [ ]:
# Import pandas package
import pandas as pd

# create a dictionary with five fields each
data = {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B5'],
    'C': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'D': ['D1', 'D2', 'D3', 'D4', 'D5'],
    'E': ['E1', 'E2', 'E3', 'E4', 'E5']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)

    A   B   C   D   E
0  A1  B1  C1  D1  E1
1  A2  B2  C2  D2  E2
2  A3  B3  C3  D3  E3
3  A4  B4  C4  D4  E4
4  A5  B5  C5  D5  E5

In [ ]:
df.drop(df.columns[[0, 2, 4]], axis = 1, inplace = True)
print(df)

    B   D
0  B1  D1
1  B2  D2
2  B3  D3
3  B4  D4
4  B5  D5

In [ ]:
df.drop(df.iloc[:, 1:3], inplace = True, axis = 1)
print(df)

    A   D   E
0  A1  D1  E1
1  A2  D2  E2
2  A3  D3  E3
3  A4  D4  E4
4  A5  D5  E5

In [ ]:
df.drop(df.loc[:, 'B':'D'], inplace = True, axis = 1)
print(df)

    A   E
0  A1  E1
1  A2  E2
2  A3  E3
3  A4  E4
4  A5  E5

In [ ]:
df.pop('B')
print(df)

    A   C   D   E
0  A1  C1  D1  E1
1  A2  C2  D2  E2
2  A3  C3  D3  E3
3  A4  C4  D4  E4
4  A5  C5  D5  E5

**Fnd largest value**

In [ ]:

# importing pandas module
import pandas as pd

# making data frame
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

df.head(10)
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [ ]:
# Check data types of 'Age' column
print(df.dtypes)

# Check for missing values in 'Age' column
print(df['Weight'].isnull().sum())

df.nsmallest(10, 'Weight')
print(df)

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object
1
              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [ ]:
# Check data types of 'Age' column
print(df.dtypes)

# Check for missing values in 'Age' column
print(df['Age'].isnull().sum())

# Reset index if needed
# df.reset_index(drop=True, inplace=True)

# Apply nlargest again
print(df.nlargest(5, 'Age'))

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object
1
               Name                    Team  Number Position   Age Height  \
298      Tim Duncan       San Antonio Spurs    21.0        C  40.0   6-11
304    Andre Miller       San Antonio Spurs    24.0       PG  40.0    6-3
400   Kevin Garnett  Minnesota Timberwolves    21.0       PF  40.0   6-11
102  Pablo Prigioni    Los Angeles Clippers     9.0       PG  39.0    6-3
261    Vince Carter       Memphis Grizzlies    15.0       SG  39.0    6-6

     Weight         College     Salary
298   250.0     Wake Forest  5250000.0
304   200.0            Utah   250750.0
400   240.0             NaN  8500000.0
102   185.0             NaN   947726.0
261   220.0  North Carolina  4088019.0

In [ ]:
df.nlargest(5, 'Age')
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

**Find smallest**

In [ ]:
df.nsmallest(5, ['Salary'])
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [ ]:
df[['Weight']].idxmax()
print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [ ]:
# importing pandas module
import pandas as pd

# making data frame
df = pd.read_csv("nba.csv")

# from index 400 to 409
df.iloc[400:410]

FileNotFoundError: [Errno 2] No such file or directory: 'nba.csv'